<footer class="rodape">
  <section>
    <h3>Avatar</h3>
  </section>

  <section>
    <p>Todos os direitos reservados {{ currentYear }}</p>
  </section>

  <section class="social-links" aria-label="Redes sociais">
  <a href="https://www.instagram.com/accounts/login/" target="_blank" aria-label="Instagram">
    <span class="fab fa-instagram rede-social"></span>
  </a>

  <a href="https://twitter.com/login" target="_blank" aria-label="Twitter">
    <span class="fab fa-twitter rede-social"></span>
  </a>

  <a href="https://accounts.google.com/signin/v2/identifier?service=youtube" target="_blank" aria-label="YouTube">
    <span class="fab fa-youtube rede-social"></span>
  </a>

  <a href="https://discord.com/login" target="_blank" aria-label="Discord">
    <span class="fab fa-discord rede-social"></span>
  </a>

  <a href="https://www.twitch.tv/login" target="_blank" aria-label="Twitch">
    <span class="fab fa-twitch rede-social"></span>
  </a>
</section>
</footer>
